html {
    box-sizing: border-box;
}
body {
    background-color: rgb(23, 23, 44);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-sqr {
    min-width: 100px;
    width: calc(100% / 4);
    aspect-ratio: 1;
    background-color: white;
}
.hovered {
    background-color: chocolate;
}